<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/novamoda_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/novamoda_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NovaModa"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".auth.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreenActivity"
            android:exported="true" />
        <activity
            android:name=".auth.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".splashScreen.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.NovaModa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>